body {
  padding-top: $navbar-height;
}

.has-sidebar-neighbour {
  padding-left: $sidebar-width + 34px;
  margin-top: $gap * 2;
}

.activities {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  &__add-ons {
    justify-content: space-between;
    display: flex;
    align-items: flex-end;
  }
}