.select {
    select {
        color: $text;

        option {
            background-color: $dark;
            color: $text;
        }
    }

    &.is-empty select {
        color: rgba($text, 0.7);
    }
}