.table {
    &--detail {
        &__child {
            background-color: $table-head-background-color !important;
            td {
                border-bottom-color: $body-background-color;
                &:nth-of-type(2){
                    padding-left: 2rem;
                }
            }
        }
    }
}