$red: #c11212;
$black: #1e2233;
$dark: #2D3144;
$primary: #3ab89c;
$grey-dark: #2e3144;
$grey-light: #3b3c52;
$white: #ffffff;

$colors: ("black": ($black, $text),
    "dark": ($dark, $text),
    "primary": ($primary, $white),
    "grey-dark": ($grey-dark, $white),
    "grey-light": ($grey-light, #d4d6dc),
    "danger": ($red, $danger-invert));

$body-background-color: #282a3a;

$box-background-color: $grey-dark;

$text: #aaafcb;
$link: $text;
$link-hover: #d4d6dc;
$text-strong: $link-hover;
$subtitle-color: $text;

$input-hover-color: $link-hover;
$input-background-color: $grey-light;
$input-border-color: $text;
$input-hover-border-color: $text;
$slider-track-background: $black;
$slider-tick-background: rgba($text, 0.5);
$slider-tick-width: 2px;
$title-color: $text;
$table-color: $text;
$label-color: $text;
$input-color: $text;
$label-weight: $weight-medium;
$strong-weight: $weight-medium;
$control-radius: 2px;

$gap: 16px;

$menu-list-link-padding: 0;
$menu-item-hover-color: $link-hover;
$menu-item-hover-background-color: $grey-light;
$menu-item-active-background-color: $menu-item-hover-background-color;
$menu-list-line-height: 3rem;
$menu-list-line-height-small: 2rem;
$level-item-spacing: 3rem;

$navbar-height: 5.5rem;

$table-striped-row-even-background-color: $body-background-color;
$table-background-color: $dark;
$table-head-background-color: $black;
$border: #696c7d;
$table-cell-border: 1px solid $border;
$table-head-cell-border-width: 0 0 1px;
$table-row-hover-background-color: $grey-light;

$modal-card-head-background-color: $dark;
$modal-card-body-background-color: $grey-light;
$modal-card-foot-border-top: transparent;

// $steps-maker-default-color: red;
$steps-default-color: $grey-light;
// $steps-active-color: yellow;
$steps-divider-height: 0.25em;
$steps-marker-default-border: 0.25em solid $grey-light;

$datepicker-background-color: $grey-light;
$datepicker-item-color: $text;
$datepicker-header-color: $white;
$datepicker-item-hover-background-color: $dark;
$datepicker-item-hover-color: $white;
$datepicker-shadow: none;

$tournament-item-width: 200px;